obj
bin
_ReSharper.*
TestResults
*.user
*.docstates
*.suo
*.swp
*.bin
*.orig
*.nupkg
nuget/lib/*
nuget
TestResults
packages
PublishFiles/version.txt
PublishFiles/temp.proj
Publish
deploy
.bundle
Build
EHBuild
TestResults.xml
*.swo
Source/Lib/Raven/Server/Data
Source/Lib/Raven/Server/Logs
